@media only screen and (min-width : 768px) {
	.dropdown:hover .dropdown-menu {
		display: block;
	}
}

.filter-header {
	border-bottom: 1px solid #eee;
	padding-bottom: 9px;
}

.itemFilter ul {
    list-style: none;
    margin: 0px;
    padding: 2px;
}

.itemFilter ul li {
    display: inline-block;
    margin: 0px 0px 0px 0px;
}

.itemFilter ul li label {
    margin: 0px 0px 0px 5px;
    padding: 0px 0px 0px 5px;
	font-weight: normal;
}

.btn-social-icon.btn-xxl {
    height: 75px;
    padding-left: 0;
    padding-right: 0;
    width: 75px;
	margin: 10px 20px 0;
}

.btn-social-icon.btn-xxl *:first-child {
    font-size: 2.0em;
    line-height: 75px;
}

.strong {
	font-weight: 700;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,0,0,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}

.match-score-box {
	font-size: 40px;
    border: 2px black solid;
    padding: 20px;
	color: white;
}

.page-header-no-margin {
	margin: 20px 0 20px;
}

/* .md-tabs.nav-tabs { border-bottom: 2px solid #DDD; } */
.md-tabs.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
.md-tabs.nav-tabs > li > a { border: none; color: #666; }
.md-tabs.nav-tabs.nav-justified > .active > a:hover, .md-tabs.nav-tabs.nav-justified > .active > a:focus { border: none;}
.md-tabs.nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
.md-tabs.nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
.md-tabs.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.md-tabs.nav>li>a:focus, .nav>li>a:hover {background-color:none; outline:none;}

.list-group-hover > .list-group-item:hover {background-color:#337ab7; color:#fff;}

.opaqueDefense 
{
	opacity:.2;
}

#toast-container {
	z-index:1500;
}

.btn .word-wrap {
	white-space: normal;
}