<div ng-controller="main.season2017.robotDataEntry-ctrl">
	<div class="" ng-include="'views/includes/robotEntryTop.html'"></div>
	<div class="row" ng-hide="robotDataEntry.selectTeam==null || robotDataEntry.selectTeam==undefined">
		<div class="col-lg-4">
			<h4>Shooting:</h4>
			<label>High Goal: </label>
			<select class="form-control" ng-model="robotData.high_goal" ng-options="value for value in capabilityTimesOptions">
			</select>
			<label>Low Goal: </label>
			<select class="form-control" ng-model="robotData.low_goal" ng-options="value for value in capabilityTimesOptions">
			</select>
		</div>
		<div class="col-lg-4">
			<h4>Drive Train: </h4>
			<label>Primary Options: </label>
			<select class="form-control" ng-model="robotData.drive_train" ng-options="value for value in driveTrainOptions">
			</select>
			<div style="width:100%;">
				<div uib-collapse="robotData.drive_train!='Other'">
					<label>Other: </label>
					<input class="form-control" ng-model="robotData.drive_train_other" ng-disabled="robotData.drive_train!='Other'" />
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<h4>End Game</h4>
			<label>Deliver Gears: </label>
			<select class="form-control" ng-model="robotData.deliver_gears" ng-options="value for value in capabilityTimesOptions">
			</select>
			<label>Climb Rope: </label>
			<select class="form-control" ng-model="robotData.climb_rope" ng-options="value for value in yesNoOptions">
			</select>
		</div>
		<div class="col-lg-4">
			<h4>Fuel</h4>
			<label>Utilize Fuel Hoppers: </label>
			<select class="form-control" ng-model="robotData.fuel_hopper" ng-options="value for value in yesNoOptions">
			</select>
			<label>Utilize Loading Stations: </label>
			<select class="form-control" ng-model="robotData.loading_station" ng-options="value for value in yesNoOptions">
			</select>
			<label>Pick Up From Floor: </label>
			<select class="form-control" ng-model="robotData.floor_pickup" ng-options="value for value in yesNoOptions">
			</select>
			<label>Fuel Capacity: </label>
			<input class="form-control" ng-model="robotData.fuel_capacity" type="number" min="0" />
		</div>

	</div>
</div>
