<div class="col-xs-12">
	<h1 class="page-header">Help</h1>
</div>
<div class="row">
	<div class="col-xs-12 col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				Contents
			</div>
			<ul class="list-group">
				<li class="list-group-item"><a href="#join_team">Join Team</a></li>
				<li class="list-group-item"><a href="#register_team">Create Team</a></li>
				<li class="list-group-item"><a href="#manage_team">Manage Team</a></li>
				<li class="list-group-item"><a href="#scout_match">Scout Match</a></li>
			</ol>
		</div>
	</div>
	<div class="col-xs-12 col-md-9">
		<div class="col-xs-12 row" id="join_team">
			<div class="col-xs-12 row">
				<h4 class="page-header">Join Team</h4>
			</div>
			<div class="col-xs-12 row">
				To join your team, please follow the steps below.
				<ol>
					<li>Click the login button at the top right corner<//li>
					<li>Login with one of the providers (Google, Facebook, Microsoft Live)<//li>
					<li>Select the user icon in the top right corner an select "My Profile"<//li>
					<li>In the "Team Information" panel, search for your team by name or number<//li>
					<li>Select your team from the drop down and verify that the inforamtion presented matches<//li>
					<li>Select Join team (If your team account has not been created yet, you will be prompted to register your team)<//li>
					<li>Your team admin will be contacted to approve your request<//li>
					<li>Once your request is approved, you have joined your team<//li>
				</ul?
			</div>
		</div>
		<div class="col-xs-12 row" id="register_team">
			<div class="col-xs-12 row">
				<h4 class="page-header">Register Team</h4>
			</div>
			<div class="col-xs-12 row">
				<ol>
					<li>Follow steps 1-5 of "Join team"<//li>
					<li>After selecting your team, you should be presented with the option to "Register Team"<//li>
					<li>After clicking "Register team", you will become the team admin<//li>
					<li>Approve or deny future team join requests<//li>
				</ol>
			</div>
		</div>
		<div class="col-xs-12 row" id="manage_team">
			<div class="col-xs-12 row">
				<h4 class="page-header">Manage Team</h4>
			</div>
			<div class="col-xs-12 row">
				<ol>
					<li><//li>
			</div>
		</div>
		</div>
		<div class="col-xs-12 row" id="scout_match">
			<div class="col-xs-12 row">
				<h4 class="page-header">Scout Match</h4>
			</div>
			<div class="col-xs-12 row">
				<ol>
					<li>Select The Season<//li>
					<li>Select "Match Data Entry"<//li>
					<li>If you have a current event selected, that event will be selected with the next match to be scouted)<//li>
					<li>If there is no current event, select the event and match from teh dropdowns<//li>
					<li>When the match starts, select the "Start Match!" button.  This will set the start time and will sync accross all of your scouts<//li>
					<li>Select a team from the list<//li>
					<li>Select the actions as they occur<//li>
					<li>All data is synced accross scouts, so multiple people scouting a single team will see eachothers data<//li>
					<li>You may change the team you are scouting at any time.  Upon changing teams, you will see any data already scouted for that team<//li>
					<li><//li>
				</ol>
			</div>
		</div>
	</div>
</div>