<div class="col-xs-12">
	<h1 class="page-header">About FRC Scout</h1>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><span class="fa fa-question"></span>&nbsp; What is FRC Scout?</h3>
			</div>
			<div class="panel-body">
				FRC Scout is an AngularJS Web Application powered by data from <a href="https://www.thebluealliance.com/" target="_blank">The Blue Alliance</a>. 
				The goal of this project is to make scouting and decision amking simpler and much easier.
				No longer do you need to keep binders of paper filled with scribbles and unlegible text.
				FRC Scout does not require you to manually populate Match scores nor event schedules thanks to The Blue Alliance API's.
				Each of your scouts will log in with their Google, Facebook, or Microsft accounts and then easily scout match data using the simple API powered interface.
				The database is auto populated with team information and event information is updated every 3 days and event schedules and match scores are updated in real time by The Blue Alliance webhooks.
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><span class="fa fa-wrench"></span>&nbsp; How does it work?</h3>
			</div>
			<div class="panel-body">
				The first user that creates an account registers your team will be treated as the team admin.
				All further scouts will require approval from the team admin before they can scout as a member of that team.
				There are 3 levels of permissions within the application; Read, Write, and Admin.  
				Users with read access can only view the data scouted by others and cannot add additional data.
				Users with Write access can scout and add data to the database.  Admins can add and remove other scouts and change team information.
				<br><br>
				Scouting matches is actually very easy.  Prior to the match starting, each scout determines what team they will watch; whether it is a 1 scout per robot or 1 alliance per scout.  
				Once the match starts, any scout on the team clicks the <b>Start</b> button which starts the timer.  The other scouts on teh team should see their screen update as well, as all scouting data is automatically synced between the scouters in real time.  
				The next step is to scout data, simply select the team and select the action.  For example; if Team 123 scored a high goal, select Team 123 and click "High Goal".  You should see a confirmation toast notification and counter should appear on the high goal button.  
				Now if a different scout on your team selects Team 123 they should then see the same counter showing, in real time, the number of high goals scored thus far.  The same goes for the other actions.  
				
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><span class="fa fa-user-secret"></span>&nbsp; Who is behind all this?</h3>
			</div>
			<div class="panel-body">
				This project originally started in 2014 when I was a mentor for FIRST FRC Team 639, Code Red Robotics.  I was sick of scouting on paper and decided to develop a web application for teh team.
				I worked with the students and we created a rudimentary web app for just our team.  It worked pretty well and we even gave access to other teams to view the data.  
				The following year we completely recreated the application from scratch using AngularJS and a PHP API backend.  In the summer of 2016 I thought to myself that other teams would love to be able to utilize a system similar to what we had developed.
				Thus I started work on FRC Scout.  I developed the application based off of the 2016 Game - FIRST Stronghold and plan to update the application every year once the new game has been released.
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><span class="glyphicon glyphicon-log-in"></span>&nbsp; First Steps?</h3>
			</div>
			<div class="panel-body">
				You can login <a ng-click="openLoginModal()" style="cursor: pointer;">here</a>.  Afterwards, go to your profile and select the team you want to join.
				If a team profile has not already been created, it will prompt you to create the team and promote you as the team admin.  This will allow you to add other team members to you team.
				If a team profile already exists, your request will be pending and you will be notified when a team admin approves your request.
				Currently once match data is entered, it cannot be deleted.  Therefore there are test events created for the express purpose of playing with the application and learning how everything works.
				<br><br>
				This application is still in development so please submit any questions, sugestions, or feedback to <a href="mailto:frcscout-contact@resnick-tech.com">frcscout-contact@resnick-tech.com</a>.
			</div>
		</div>
	</div>
</div>