<div class="col-xs-12">
	<h2>
		Team {{team_number}} <span ng-hide="teamInfo.length==0">| {{teamInfo.team_info.nickname}}</span><br/>
		<small>Information Provided by The Blue Alliance</small>
	</h2>
</div>
<div class="col-xs-12" ng-show="teamInfo.length==0">
	<h3>
		No information available!!
	</h3>
</div>
<div class="col-xs-12" ng-hide="teamInfo.length==0">
	<hr>
	<h2 id="event-results">Event Results</h2>
	<div class="row" ng-repeat="event in teamInfo.events |orderBy:'start_date'">
		<div class="col-sm-4">
			<h3>{{event.name}}</h3>
		</div>
		<div class="col-sm-8">
			<table class="table table-bordered table-hover table-condensed text-center">
				<tr>
					<th class="text-center strong">Match</th>
					<th class="text-center strong" colspan="3">Red Alliance</th>
					<th class="text-center strong" colspan="3">Blue Alliance</th>
					<th class="text-center strong" colspan="2">Scores</th>
				</tr>
				<tr ng-show="event.matches.qualifications.length>0">
					<td colspan=9" class=" strong">Qualifications</td>
				</tr>
				<tr ng-repeat="match in event.matches.qualifications" ng-show="event.matches.qualifications.length>0">
					<td>Quals {{match.match_number}}</td>
					<td ng-repeat="team in match.alliances.red.teams" class="bg-danger" ng-class="{'strong':match.alliances.red.score > match.alliances.blue.score}">{{team | teamKeyToNum}}</td>
					<td ng-repeat="team in match.alliances.blue.teams" class="bg-info" ng-class="{'strong':match.alliances.blue.score > match.alliances.red.score}">{{team | teamKeyToNum}}</td>
					<td class="bg-danger" ng-class="{'strong':match.alliances.red.score > match.alliances.blue.score}">{{match.alliances.red.score}}</td>
					<td class="bg-info" ng-class="{'strong':match.alliances.blue.score > match.alliances.red.score}">{{match.alliances.blue.score}}</td>
				</tr>
				<tr ng-show="event.matches.quarterfinals.length>0">
					<td colspan=9" class=" strong">Quarterfinals</td>
				</tr>
				<tr ng-repeat="match in event.matches.quarterfinals" ng-show="event.matches.quarterfinals.length>0">
					<td>Quaters {{match.match_number}}</td>
					<td ng-repeat="team in match.alliances.red.teams" class="bg-danger" ng-class="{'strong':match.alliances.red.score > match.alliances.blue.score}">{{team | teamKeyToNum}}</td>
					<td ng-repeat="team in match.alliances.blue.teams" class="bg-info" ng-class="{'strong':match.alliances.blue.score > match.alliances.red.score}">{{team | teamKeyToNum}}</td>
					<td class="bg-danger" ng-class="{'strong':match.alliances.red.score > match.alliances.blue.score}">{{match.alliances.red.score}}</td>
					<td class="bg-info" ng-class="{'strong':match.alliances.blue.score > match.alliances.red.score}">{{match.alliances.blue.score}}</td>
				</tr>
				<tr ng-show="event.matches.semifinals.length>0">
					<td colspan=9" class=" strong">Semifinals</td>
				</tr>
				<tr ng-repeat="match in event.matches.semifinals" ng-show="event.matches.semifinals.length>0">
					<td>Semis {{match.match_number}}</td>
					<td ng-repeat="team in match.alliances.red.teams" class="bg-danger" ng-class="{'strong':match.alliances.red.score > match.alliances.blue.score}">{{team | teamKeyToNum}}</td>
					<td ng-repeat="team in match.alliances.blue.teams" class="bg-info" ng-class="{'strong':match.alliances.blue.score > match.alliances.red.score}">{{team | teamKeyToNum}}</td>
					<td class="bg-danger" ng-class="{'strong':match.alliances.red.score > match.alliances.blue.score}">{{match.alliances.red.score}}</td>
					<td class="bg-info" ng-class="{'strong':match.alliances.blue.score > match.alliances.red.score}">{{match.alliances.blue.score}}</td>
				</tr>
				<tr ng-show="event.matches.finals.length>0">
					<td colspan=9" class=" strong">Finals</td>
				</tr>
				<tr ng-repeat="match in event.matches.finals" ng-show="event.matches.finals.length>0">
					<td>Finals {{match.match_number}}</td>
					<td ng-repeat="team in match.alliances.red.teams" class="bg-danger" ng-class="{'strong':match.alliances.red.score > match.alliances.blue.score}">{{team | teamKeyToNum}}</td>
					<td ng-repeat="team in match.alliances.blue.teams" class="bg-info" ng-class="{'strong':match.alliances.blue.score > match.alliances.red.score}">{{team | teamKeyToNum}}</td>
					<td class="bg-danger" ng-class="{'strong':match.alliances.red.score > match.alliances.blue.score}">{{match.alliances.red.score}}</td>
					<td class="bg-info" ng-class="{'strong':match.alliances.blue.score > match.alliances.red.score}">{{match.alliances.blue.score}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>