<div class="col-xs-12">
	<h1 class="page-header">Help</h1>
</div>
<div class="row">
	<div class="col-xs-12 col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				Contents
			</div>
			<ul class="list-group">
				<li class="list-group-item"><a href="#join_team">Join Team</a></li>
				<li class="list-group-item"><a href="#register_team">Create Team</a></li>
			</ul>
		</div>
	</div>
	<div class="col-xs-12 col-md-9">
		<div class="col-xs-12 row" id="join_team">
			<div class="col-xs-12 row">
				<h4 class="page-header">Join Team</h4>
			</div>
			<div class="col-xs-12 row">
				To join your team, please follow the steps below.
				<ol>Click the login button at the top right corner</ol>
				<ol>Login with one of the providers (Google, Facebook, Microsoft Live)</ol>
				<ol>Select the user icon in the top right corner an select "My Profile"</ol>
				<ol>In the "Team Information" panel, search for your team by name or number</ol>
				<ol>Select your team from the drop down and verify that the inforamtion presented matches</ol>
				<ol>Select Join team (If your team account has not been created yet, you will be prompted to register your team)</ol>
				<ol>Your team admin will be contacted to approve your request</ol>
				<ol>Once your request is approved, you have joined your team</ol>
			</div>
		</div>
		<div class="col-xs-12 row" id="register_team">
			<div class="col-xs-12 row">
				<h4 class="page-header">Register Team</h4>
			</div>
			<div class="col-xs-12 row">
				
			</div>
		</div>
	</div>
</div>